* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {

    color: #fff;
    background: linear-gradient(90deg, rgba(2, 0, .6, 1) 30%, rgb(21, 27, 114) 80%);
}

html {
    scroll-behavior: smooth;

}

#header {
    width: 100%;
    height: 98vh;
    background-image: url(images/Home.png);
    background-size: cover;
    background-position: center;

}

/* .back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg,rgba(2,0,.6,1) 0%,rgb(202, 34, 34) 35%,rgb(202, 34, 34) 100%);
  } */

.container {

    padding: 2px 4%;

}

.containers {

    padding: 2px 4%;

}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    position: right;
    text-align: right;
    margin-top: 7%;
    font-size: 23px;

}

.setdiv {
    padding-top: 60px;
}

.header-text h1 {

    font-size: 100px;
}

.header-text h1 span {
    color: #8baafd;
}

.header-text h2 {
    font-size: 74px;
}

.loader {
    position: relative;
    width: 127px;
    height: 40px;
    background: #fff;
    border-radius: 100px;
    float: right;
}

.loader::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 40px 0 0 20px #fff;
}

.snow {
    position: relative;
    display: flex;
    z-index: 1;
}

.snow span {
    position: relative;
    width: 3px;
    height: 3px;
    background: #fff;
    margin: 0 2px;
    border-radius: 50%;
    animation: snowing 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}

@keyframes snowing {
    0% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(100px) scale(1);
    }

    100% {
        transform: translateY(100px) scale(0);
    }
}

.loaader {
    position: relative;
    width: 110px;
    height: 40px;
    background: #fff;
    border-radius: 100px;
    float: right;

}

.loaader::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 2px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 40px 0 0 20px #fff;
}

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
    margin-top: 2%;
    left: calc(88%);
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #71aee7;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

nav .fas {
    display: none;
  }


/* set screens  */

/* phone screen */
@media only screen and (max-width: 600px) {

  
    #header{
    
      background-image: url(images/dp.jpg);
    }
  
    .header-text{
        position: center;
        text-align: center;
      font-size: 14px;
    }
    .loader{
        display: none;
    }
  
    .header-text h1 {
     
      font-size: 40px;
      
    }

    .header-text h1 span {
        color: #e7dfdf;
      }
      
    .header-text h2 {
      font-size: 30px;
    }
    nav .fas{
      display: block;
      font-size: 22px;
    }
  
    nav ul{
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    
}
  
    nav ul li{
      display: block;
      margin: 25px;
    }
  
    nav ul .fas{
  
      position: absolute;
      top :25px;
      left: 25px;
      cursor: pointer;
    }
    .wrapper{
        display: none;
    }
    .loaader{
        display: none;
    }
   
    
   
  }

  @media (min-width: 1610px) and (max-width: 3000px) {

    .header-text h1 {
  
      padding-top: 20px;
  
      font-size: 130px;
    }
  
    header-text h2 {
      font-size: 84px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
  
    body {
  
      width: 96%;
      margin-left: 20px;
  
    }
  
    .container {
  
      padding: 2px 2%;
  
    }
  
    .containers {
  
      padding: 2px 4%;
  
    }
  
  
    .header-text h1 {
  
      padding-top: 10px;
  
      font-size: 83px;
    }
  
    .header-text h2 {
      font-size: 75px;
      margin-top: -30px;
    }
  
    .loader {
  
      margin-top: -30px;
    }
  
    .loaader {
  
      margin-top: -30px;
    }
  
    .wrapper {
      margin-left: -22px;
    }
  
    #projects {
      margin-right: -2px;
    }
  
    .pos_Set {
  
      padding-top: 70px;
    }
  
    .follow {
  
      padding-top: 70px;
    }
  
    #Achievements h1 {
      margin-left: 25px;
    }
  
    .achievement1 {
  
      padding-top: 0px;
  
    }
  
    .name {
      font-size: 23px;
      font-weight: 700;
      margin-left: -10px;
      margin-bottom: 10px;
      color: #000000;
    }
  
    .description {
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
      color: #000000;
      line-height: 29px;
      margin-bottom: 20px;
    }
  
    .descriptions {
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
      color: #000000;
      line-height: 35px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  
    .card-image {
      position: relative;
      margin-left: 30px;
      height: 300px;
      width: 300px;
      border-radius: 40px;
      padding: 10px;
      margin-top: 10px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
    }
  
    .checkss {
      margin-left: 480px;
  
  
    }
    
    #photographs {
  
      margin-right: -70px;
    }
  }