* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {

  color: #fff;
  background: linear-gradient(90deg, rgba(2, 0, .6, 1) 30%, rgb(21, 27, 114) 80%);
}

html {
  scroll-behavior: smooth;

}

/* home screen */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/Home.png);
  background-size: cover;
  background-position: center;

}

.container {
  padding: 2px 4%;
}

.containers {

  padding: 2px 4%;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  position: right;
  text-align: right;
  padding-top: 7%;
  font-size: 23px;

}

.setdiv {
  padding-top: 60px;
}

.header-text h1 {

  font-size: 100px;
}

.header-text h1 span {
  color: #8baafd;
}

.header-text h2 {
  font-size: 74px;
}

.loader {
  position: relative;
  width: 127px;
  height: 40px;
  background: #fff;
  border-radius: 100px;
  float: right;
}

.loader::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 20px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 40px 0 0 20px #fff;
}

.snow {
  position: relative;
  display: flex;
  z-index: 1;
}

.snow span {
  position: relative;
  width: 3px;
  height: 3px;
  background: #fff;
  margin: 0 2px;
  border-radius: 50%;
  animation: snowing 5s linear infinite;
  animation-duration: calc(15s / var(--i));
  transform-origin: bottom;
}

@keyframes snowing {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(100px) scale(1);
  }

  100% {
    transform: translateY(100px) scale(0);
  }
}

.loaader {
  position: relative;
  width: 110px;
  height: 40px;
  background: #fff;
  border-radius: 100px;
  float: right;

}

.loaader::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 40px 0 0 20px #fff;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
  margin-top: 2%;
  left: calc(88%);
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #71aee7;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

nav .fas {
  display: none;
}

/* home screen */

/* ...........about me............ */
#about {
  padding-top: 80px;
  padding-left: 40px;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-2 {
  flex-basis: 35%;
}

.col-2 img {
  width: 100%;
  margin-top: 70px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.col-2 img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.col-1 {
  flex-basis: 60%;
  word-spacing: 2px;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #b4b0b0;
  margin-bottom: 20px;

}

.sub-line {

  line-height: 30px;
  font-size: 20px;
}

.tab-contents {
  display: none;
  line-height: 35px;
  font-size: 15px;
  margin-left: 18px;

}

.tab-contents ul li span {
  font-weight: 400;

}

.tab-contents.active-tab {
  display: block;
}


.space1 {
  margin-left: 40px;
}

.tab-titles {
  display: flex;
  margin: 30px 0 40px
}

.tab-links {
  margin-right: 50px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: " ";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.Education {

  color: #ff004f;
  font-size: 25px;
  font-weight: 700;
}

.cg {
  margin-left: 220px;
  font-style: italic;
  font-weight: bold;
}

.cgs {
  margin-left: 252px;
  font-style: italic;
  font-weight: bold;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 3px solid #272431;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #020202;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff004f;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

/* ...........about me............ */

/* Project section */

/* my projects */

#projects {

  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.card2 {
  width: 300px;
  height: 430px;
  border-radius: 15px;
  /* background-color: #2c2a2a; */
  background: linear-gradient(to right, rgb(212, 20, 90) 0%, rgb(251, 176, 59) 100%);
  border-radius: 20;
  transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card2:hover {
  transform: scale(1.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}

.card3 {
  width: 300px;
  height: 430px;
  border-radius: 15px;
  /* background-color: #2c2a2a; */
  background: linear-gradient(to right, rgb(213, 133, 255) 0%, rgb(0, 255, 238) 100%);
  border-radius: 20;
  transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card3:hover {
  transform: scale(1.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
}

.card4 {
  width: 300px;
  height: 430px;
  border-radius: 15px;
  /* background-color: #2c2a2a; */
  background: linear-gradient(to right, rgb(102, 45, 140) 0%, rgb(237, 30, 121) 100%);
  border-radius: 20;
  transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card4:hover {
  transform: scale(1.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
}

.card5 {
  width: 300px;
  height: 430px;
  border-radius: 15px;
  /* background-color: #2c2a2a; */
  background: linear-gradient(to right, rgb(0, 146, 69) 0%, rgb(252, 238, 33) 100%);
  border-radius: 20;
  transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card5:hover {
  transform: scale(1.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
}

.card6 {
  width: 300px;
  height: 430px;
  border-radius: 15px;
  /* background-color: #2c2a2a; */
  background: linear-gradient(to right, rgb(241, 190, 19) 0%, rgb(216, 104, 59) 100%);
  border-radius: 20;
  transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card6:hover {
  transform: scale(1.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
}

.card7 {
  width: 300px;
  height: 430px;
  border-radius: 15px;
  /* background-color: #2c2a2a; */
  background: linear-gradient(to right, rgb(231, 70, 132) 0%, rgb(223, 151, 182) 100%);
  border-radius: 20;
  transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card7:hover {
  transform: scale(1.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
}

.card8 {
  width: 300px;
  height: 430px;
  border-radius: 15px;
  /* background-color: #2c2a2a; */
  background: linear-gradient(to right, rgb(31, 153, 201) 0%, rgb(223, 151, 182) 100%);
  border-radius: 20;
  transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card8:hover {
  transform: scale(1.15);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
}


.position {

  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 25px;


  color: var(--theme-ui-colors-black, #000);

}

.icon {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 20px;

}

.p_color {
  color: var(--theme-ui-colors-black, #000);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.p_hcolor {
  color: var(--theme-ui-colors-black, #000);
  font-size: 35px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 29px;


}

.p_hccolor {
  color: var(--theme-ui-colors-black, #000);
  font-size: 28px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 29px;


}

.p_hcccolor {
  color: var(--theme-ui-colors-black, #000);
  font-size: 23px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;


}

/* Project section */



















/* set screens  */

/* phone screen */
@media only screen and (max-width: 600px) {


  #header {

    background-image: url(images/dp.jpg);

  }


  .setdiv {
    background: rgba(42, 43, 42, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .header-text {
    margin-top: -9%;
    position: center;
    text-align: center;
    font-size: 13px;
  }

  .loader {
    display: none;
  }

  .header-text h1 {

    font-size: 40px;

  }

  .header-text h1 span {
    color: #e7dfdf;
  }

  .header-text h2 {
    padding-bottom: 5px;
    font-size: 30px;
  }

  nav .fas {
    display: block;
    font-size: 22px;
  }

  nav ul {
    background:#5a5758;
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    padding-top: 40px;
    z-index: 2;
    transition: right 0.5s;

  }

  .logo {
    width: 200px;

  }

  nav ul li {
    display: block;
    margin: 25px;
    text-align: center;
    color: #000;
    padding: 17px;
    background: #060606;
    box-shadow: 5px 5px 5px rgb(38, 39, 39);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


  nav ul .fas {

    position: absolute;
    top: 25px;
    left: 25px;

    cursor: pointer;
  }

  .wrapper {
    display: none;
  }

  .loaader {
    display: none;
  }

  #about {
    padding-top: 40px;
    padding-left: 20px;
    color: #ababab;
  }

  .sub-title {
    font-size: 35px;
  }

  .col-1,
  .col-2 {
    flex-basis: 100%;
  }

  .col-1 {
    margin-bottom: 10px;
    font-size: 14px;
    word-spacing: 0px;
  }

  .sub-line {

    font-size: 12px;
    line-height: 22px;
    padding-right: 20px;
  }

  .tab-links {
    font-size: 15px;
    margin-right: 20px;

  }

  .tab-contents {
    line-height: 29px;
    font-size: 15px;
    margin-left: 8px;
  }

  .space1 {
    margin-left: 0px;
  }


  .col-1 img {
    height: 22px;
  }

  .col-2 {
    display: none;
  }

  .tab-titles {
    display: flex;
    margin: 30px 0 20px
  }

  .Education {

    color: #ff004f;
    font-size: 17px;
    font-weight: 700;
  }

  .cg {

    margin-left: 20px;
    text-align: right;
    font-style: italic;
    font-weight: bold;
  }

  .cgs {
    margin-left: 20px;
    font-style: italic;
    font-weight: bold;
  }

  #projects {

    padding-top: 20px;

  }

  .service-list {

    margin-top: 20px;
    grid-gap: 20px;
  }

  .card2:hover {
    pointer-events: none;
  }
  .card3:hover {
    pointer-events: none;
  }
  .card4:hover {
    pointer-events: none;
  }
  .card5:hover {
    pointer-events: none;
  }
  .card6:hover {
    pointer-events: none;
  }
  .card7:hover {
    pointer-events: none;
  }
  .card8:hover {
    pointer-events: none;
  }


}

/* tablet or small laptop screen */

@media (min-width: 601px) and (max-width: 1024px) {


  #header {

    background-image: url(images/dp.jpg);
  }



  .header-text {
    margin-top: 25%;
    text-align: center;
    font-size: 20px;
  }

  .loader {
    display: none;
  }

  .setdiv {
    background: rgba(42, 43, 42, 0.6);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-text h1 {

    font-size: 70px;
    /* Green background with 30% opacity */
  }



  .header-text h1 span {
    color: #d3f7fc;
  }

  .header-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  nav .fas {
    display: block;
    font-size: 22px;
  }

  nav ul {
    background: #3d3b3c;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;

  }

  .logo {
    width: 200px;

  }

  nav ul li {
    display: block;

    margin: 40px;
    text-align: center;


  }

  nav ul .fas {

    position: absolute;
    top: 25px;
    left: 25px;

    cursor: pointer;
  }

  .wrapper {
    display: none;
  }

  .loaader {
    display: none;
  }

  #about {
    padding-top: 40px;
    padding-left: 20px;
    color: #ababab;
  }

  .sub-title {
    font-size: 40px;
  }


  .col-1 {
    margin-bottom: 10px;
    font-size: 14px;
    word-spacing: 0px;
  }

  .sub-line {

    font-size: 12px;
    line-height: 22px;
    padding-right: 20px;
  }

  .tab-links {
    font-size: 15px;
    margin-right: 20px;

  }

  .tab-contents {
    line-height: 33px;
    font-size: 15px;
    margin-left: 8px;
  }

  .space1 {
    margin-left: 0px;
  }


  .col-1 img {
    height: 22px;
  }



  .tab-titles {
    display: flex;
    margin: 30px 0 20px
  }

  .Education {

    color: #ff004f;
    font-size: 17px;
    font-weight: 700;
  }

  .cg {

    margin-left: 20px;
    text-align: right;
    font-style: italic;
    font-weight: bold;
  }

  .cgs {
    margin-left: 20px;
    font-style: italic;
    font-weight: bold;
  }

  #projects {

    padding-top: 20px;
    padding-left: 10px;
  }

  .service-list {

    margin-top: 20px;
  }
}


/*  monitor screen */
@media (min-width: 1610px) and (max-width: 3000px) {

  .header-text h1 {

    padding-top: 20px;

    font-size: 130px;
  }

  header-text h2 {
    font-size: 84px;
  }
}


/*  mini screen */

@media (min-width: 1200px) and (max-width: 1500px) {

  body {

    width: 96%;
    margin-left: 20px;

  }

  .container {

    padding: 2px 2%;

  }

  .containers {

    padding: 2px 4%;

  }


  .header-text h1 {

    padding-top: 10px;

    font-size: 83px;
  }

  .header-text h2 {
    font-size: 75px;
    margin-top: -30px;
  }

  .loader {

    margin-top: -30px;
  }

  .loaader {

    margin-top: -30px;
  }

  .wrapper {
    margin-left: -22px;
  }

  #projects {
    margin-right: -2px;
  }

  .pos_Set {

    padding-top: 70px;
  }

  .follow {

    padding-top: 70px;
  }

  #Achievements h1 {
    margin-left: 25px;
  }

  .achievement1 {

    padding-top: 0px;

  }

  .name {
    font-size: 23px;
    font-weight: 700;
    margin-left: -10px;
    margin-bottom: 10px;
    color: #000000;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: #000000;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .descriptions {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: #000000;
    line-height: 35px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .card-image {
    position: relative;
    margin-left: 30px;
    height: 300px;
    width: 300px;
    border-radius: 40px;
    padding: 10px;
    margin-top: 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

  .checkss {
    margin-left: 480px;


  }

  #photographs {

    margin-right: -70px;
  }
}