* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {

    color: #fff;
    background: linear-gradient(90deg, rgba(2, 0, .6, 1) 0%, rgb(2, 5, 37) 80%);
}

html {
    scroll-behavior: smooth;

}

/* home screen */
#header {
    width: 100%;

}

.container {
    padding: 2px 4%;
}

.containers {

    padding: 2px 4%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

nav ul li:hover {
    scale: 1.1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #dbc7cd;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;


}


nav .fas {
    display: none;
}

/* home screen */


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

}

.wrapper h1 {

    font-size: 3em;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}

.conten-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    grid-gap: 20px;
    margin-top: 30px;
    color: #ebe7e7;

}

.card {
    min-height: 220px;
    width: 340px;
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    background-color: #6d6a6a52;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 6px;
    box-shadow: 0 15px 25px rgba(85, 83, 83, 0.2);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.card span i {
    margin: 20px;
    color: #ff5724;
    font-size: 75px;

}

.card:nth-child(1) span i {
    color: #cccf05;
}

.card:nth-child(2) span i {
    color: #ff5724;
}

.card:nth-child(3) span i {
    color: #e43956;
}

.card:nth-child(4) span i {
    color: #e43980;
}

.card:nth-child(5) span i {
    color: #e4d339;
}

.card:nth-child(6) span i {
    color: #39aee4;
}

.card:nth-child(7) span i {
    color: #e6b9cc;
}

.card:nth-child(8) span i {
    color: #5839e4;
}

.card:nth-child(9) span i {
    color: #e45b39;
}

.card h2 {
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.card p {
    color: #98a0a7;
    text-align: center;
    font-size: 16px;
    line-height: 23px;


}

.imgcons {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;

}

.test {
    padding-top: 20px;


}

/* .card:hover i {
    color: #cccf05;
} */

.card:hover p {
    color: #f3efef;
}

.card:hover h2 {
    font-weight: 600;
    color: #f3efef;
}

.card:nth-child(1):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(2):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(3):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(4):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(5):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(6):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(8):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(9):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}

.card:nth-child(7):hover {
    background: linear-gradient(45deg, rgba(44, 43, 43, 0.8), rgba(146, 133, 137, 0.8)), url(../images/9.jpg);
    background-size: cover;
}


















/* social */
.Social {

    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    margin-top: 40px;
    margin-bottom: 100px;


}

.wrappeer {
    display: inline-flex;
}

.wrappeer .icon {

    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
    cursor: pointer;
    color: #000;
}

.wrappeer .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    color: #000;
    background: #fff;
    text-align: center;
    z-index: 3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.wrappeer .icon:hover span i {
    color: #fff;
}

.wrappeer .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrappeer .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #000000;
    font-size: 20px;
    padding: 10px 18px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0, 68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.3s cubic-bezier(0, 68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.3s cubic-bezier(0, 68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.3s cubic-bezier(0, 68, -0.55, 0.265, 1.55);
    -o-transition: all 0.3s cubic-bezier(0, 68, -0.55, 0.265, 1.55);
}

.wrappeer .icon:hover .tooltip {

    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrappeer .icon .tooltip::before {

    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #f7f7f7;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

}


.wrappeer .icon:hover span,
.wrappeer .icon:hover .tooltip {

    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrappeer .facebook:hover span,
.wrappeer .facebook:hover .tooltip,
.wrappeer .facebook:hover .tooltip::before {

    background: #3b5999;
    color: #ffffff;
}

.wrappeer .instagram:hover span,
.wrappeer .instagram:hover .tooltip,
.wrappeer .instagram:hover .tooltip::before {

    background: #e1306c;
    color: #ffffff;
}

.wrappeer .twitter:hover span,
.wrappeer .twitter:hover .tooltip,
.wrappeer .twitter:hover .tooltip::before {

    background: #46c1f6;
    color: #ffffff;
}

.wrappeer .github:hover span,
.wrappeer .github:hover .tooltip,
.wrappeer .github:hover .tooltip::before {

    background: #333;
    color: #ffffff;
}

.wrappeer .linkedin:hover span,
.wrappeer .linkedin:hover .tooltip,
.wrappeer .linkedin:hover .tooltip::before {

    background: #1b4fbe;
    color: #ffffff;
}


.wrappeer .youtube:hover span,
.wrappeer .youtube:hover .tooltip,
.wrappeer .youtube:hover .tooltip::before {

    background: #b91616;
    color: #ffffff;
}

.cv {

    margin-top: 30px;
}

.end {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -70px;
}




.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 3px solid #272431;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #020202;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff004f;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}
















/* set screens  */

/* phone screen */
@media only screen and (max-width: 1024px) {




    nav .fas {
        display: block;
        font-size: 22px;
    }

    nav ul {
        background: #5a5758;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 40px;
        z-index: 2;
        transition: right 0.5s;

    }

    .logo {
        width: 200px;

    }

    nav ul li {
        display: block;
        margin: 25px;
        text-align: center;
        color: #000;
        padding: 17px;
        background: #060606;
        box-shadow: 5px 5px 5px rgb(38, 39, 39);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }


    nav ul .fas {

        position: absolute;
        top: 25px;
        left: 25px;

        cursor: pointer;
    }


    .follow {


        margin-top: -140px;
        margin-right: 0px;
    }



    .Social {

        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
        margin-bottom: 100px;
        padding: 0px;

    }


    .sub-title {
        padding-left: 0px;
    }

  

    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 500;
    }

    .conten-box {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .card {
        
        
        padding-top: 30px;
        padding-bottom: 30px;
        /* margin: 5px -5px; */
    }

    .card {
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
        background-color: #6d6a6a52;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1px 1px;
        box-shadow: 0 1px 1px rgba(85, 83, 83, 0.2);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    


    .wrappeer {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
    }


    .end {
        font-size: 12px;
    }




}